<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Waples Machine Ltd." />
  <meta name="author" content="Waples Machine Ltd." />

  <title>{% if page.title %}{{ page.title }} | {% endif %} Waples Machine Ltd.</title>

  <!-- Bootstrap Core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Custom CSS -->
  <link href="/css/landing-page.css" rel="stylesheet" />

  <!-- Custom Fonts -->
  <link href="/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet"
  />

  <script
    data-goatcounter="https://machine.goatcounter.com/count"
    async
    src="//gc.zgo.at/count.js"
  ></script>
  <noscript>
    <img src="https://machine.goatcounter.com/count?p=/test-noscript" />
  </noscript>

  <link rel="icon" type="image/png" sizes="96x96" href="{{ get_url(path = "/favicon.png") }}" />
</head>
