<section id="home">
  <!-- Header -->
  <div class="intro-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>{{ page.title }}</h1>
            <h3>{{ page.subTitle }}</h3>
            <hr class="intro-divider" />
            <ul class="list-inline intro-social-buttons">
              {% for social in site.social %}
              <li>
                <a href="{{ social.url }}" class="btn btn-default btn-lg"
                  ><i class="fa fa-{{ social.title }} fa-fw"></i>
                  <span class="network-name">{{ social.title }}</span></a
                >
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.intro-header -->
</section>

<section class="banner">
  <div id="movements" class="container content-div">
    <div class="row">
      <div class="col-lg-12">
        <h1>Introducing Movements</h1>

        <h3 class="h2">Rapid solutions</h3>

        <p>
          Movements is our solution to a wide range of industrial motion control needs. Built from
          the ground-up to be modular and easily extended, it provides a solid base to create custom
          motion control solutions, whether that be new product offerings or older machine
          retrofits.
        </p>

        <h3 class="h2">Support for a wide variety of hardware</h3>

        <p>
          Movements supports many fieldbus systems such as Modbus TCP and CANOpen, and adheres
          closely to existing industrial safety protocols. This allows Movements to use and grow a
          rich ecosystem of connected devices, perfect for modern industry.
        </p>

        <h3 class="h2">Rock solid safety</h3>

        <p>
          Movements is written in the Rust programming language, providing a safe, fast and secure
          solution for peace of mind and excellent performance.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="banner movements-ext">
  <div id="movements-2" class="container content-div">
    <h1>Get started with Movements today</h1>

    <div class="row">
      <div class="col-lg-6">
        <h3 class="h2">Tailored expertise</h3>

        <p>Design and machine retrofits are our speciality. Let us do the hard work for you.</p>

        <p>
          With many fieldbusses supported including Modbus TCP, CANopen and Profinet, our control
          retrofit package is a flexible and affordable upgrade path with minimal electrical changes
          required.
        </p>
      </div>

      <div class="col-lg-6">
        <h3 class="h2">Development partner</h3>

        <p>
          Use our turnkey solution to interface with your existing systems, with support to back you
          up when you need it.
        </p>

        <p>
          A wide variety of PC systems from full desktops to resource constrained embedded systems
          are supported, allowing Movements to be adapted to any customer need.
        </p>
      </div>
    </div>
  </div>
</section>
