<!DOCTYPE html>
<html>
  {% include "include/head.html" %}

  <body>
    {% include "include/header.html" %}

    <!-- About Section -->
    <section id="about" class="container content-section">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <br /><br />
          <h2>About Waples Machine</h2>
          <br />
          <p>
            Founded in 2020 by James Waples, Waples Machine is on a mission to create a best in
            class, safe motion controller and ecosystem to empower users to control industrial
            machines at low cost.
          </p>

          <p>
            Movements, our motion control solution, leverages the safety, ease of use and
            performance of Rust to fill a niche in the market; a software platform with reliability
            at its core.
          </p>
          <br /><br />
          <br /><br />
          <br /><br />
          <br /><br />
        </div>
      </div>
    </section>

    {% include "include/footer.html" %}
  </body>
</html>
